<div class="container-fluid">
  <div class="form-group">
    <label>Select method</label>
    <select (change)="OnParams()" class="custom-select" name="parameter" [(ngModel)]="param">
      <option *ngFor="let par of params">{{par}}</option>
    </select>
  </div>
  <div class="form-group">
    <input placeholder="Value" (change)="OnParams()" type="text" class="form-control" [(ngModel)]="paramvalue">
  </div>
  <div class="form-group">
    <label>Get player with id</label>
    <input type="number" pattern="^[0-9]?$" class="form-control" name="id" [(ngModel)]="id" (input)="GetById($event.target.value)">
  </div>
</div>


<div *ngIf="!id; else elseBlock">
  <table id="players">
    <tr id="title">
      <th>ID</th>
      <th>Last Name</th>
      <th>First Name</th>
      <th>Birth Date</th>
      <th>Shirt Number</th>
      <th>Position</th>
      <th>Team</th>
    </tr>
      <tr *ngFor="let item of items">
        <th>{{item.id}}</th>
        <th>{{item.lastname}}</th>
        <th>{{item.firstname}}</th>
        <th>{{item.birthDate | date}}</th>
        <th>{{item.shirtNumber}}</th>
        <th>{{item.position}}</th>
        <th>{{item.team}}</th>
      </tr>
</table>
</div>
<ng-template #elseBlock>
  <table id="players">
    <tr id="title">
      <th>ID</th>
      <th>Last Name</th>
      <th>First Name</th>
      <th>Birth Date</th>
      <th>Shirt Number</th>
      <th>Position</th>
      <th>Team</th>
    </tr>
      <tr>
        <th>{{p.id}}</th>
        <th>{{p.lastname}}</th>
        <th>{{p.firstname}}</th>
        <th>{{p.birthDate | date}}</th>
        <th>{{p.shirtNumber}}</th>
        <th>{{p.position}}</th>
        <th>{{p.team}}</th>
      </tr>
</table>
</ng-template>
